<div class="row">
  <div class="col-md-8">
    <h1>Atividades</h1>
    <ng-container *ngFor="let atividade of atividades">
      <p-card class="card-ativ">
        <p class="custom-font">
          Encerramento:
          {{
            atividade.dataFim
              | date : "HH:mm - dd/MM/yyyy " : " +0000" : "pt-BR"
          }}
        </p>

        <i
          class="pi pi-file-edit"
          style="float: left; font-size: 2.5rem; margin-right: 10px"
        ></i>
        <p>{{ atividade.situacaoAprendizagem.titulo }}</p>
        <p>{{ atividade.situacaoAprendizagem.descricao }}</p>

        <ng-template pTemplate="footer">
          <p-button
            label="Detalhes"
            [routerLink]="['/atividadeverificacao', atividade.id]"
          ></p-button>
        </ng-template>
      </p-card>
    </ng-container>
  </div>

  <div class="col-md-4 text-right">
    <app-usuario-calendario-academico></app-usuario-calendario-academico>
  </div>
</div>
<!-- <td>{{ atividade.dataInicio }}</td> -->
